{% extends 'front/base.html' %}
{% load static %}
{% block content %}
<div class="cart-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">rasm</th>
                                    <th class="cart-product-name">mahsulot</th>
                                    <th class="product-price">asl narxi</th>
                                    <th class="product-quantity">miqdori</th>
                                    <th class="product-subtotal">umumiy</th>
                                    <th class="product-subtotal">harakat</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in ordered %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="{% url 'front:product_detail' i.product.code %}">
                                            <img src="{{i.product.banner_img.url}}" alt="Cart Thumbnail" style="width: 100px;">
                                        </a>
                                    </td>
                                    <td class="product-name"><a href="{% url 'front:product_detail' i.product.code %}">{{i.product.name}}</a></td>
                                    {% if i.product.discount_price %}
                                    <td class="product-price">
                                        <span class="amount"><s style="color: red;">{{i.product.price}}</s></span><br>
                                        <span class="amount">{{i.product.discount_price}}</span>
                                    </td>
                                    {% else %}
                                    <td class="product-price"><span class="amount">{{i.product.price}}</span></td>
                                    {% endif %}
                                    {% if cart.status == 1 %}
                                    <td class="quantity">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box"  name="{{i.id}}" value="{{i.count}}" type="text">
                                            <div class="dec qtybutton">
                                                <i class="fa fa-minus"></i>
                                            </div>
                                            <div class="inc qtybutton">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        <div class="dec qtybutton"><i class="fa fa-minus"></i></div><div class="inc qtybutton"><i class="fa fa-plus"></i></div></div>
                                    </td>
                                    {% else %}
                                    <td class="product-subtotal"><span class="amount">{{i.count}}</span></td>
                                    {% endif %}
                                    <td class="product-subtotal"><span class="amount">{{i.price}}</span></td>
                                    <td class="product_remove">
                                        <a href="{% url 'front:product_delete' i.id %}">
                                            <i class="pe-7s-magic-wand" data-tippy="Remove" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder" tabindex="0"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if cart.status == 1 %}
                    <div class="row">
                        <div class="col-12">
                            <div class="coupon-all">
                                <div class="coupon2">
                                    <li class="quuickview-btn" data-bs-toggle="modal" data-bs-target="#quickModal">
                                        <a href="#" data-tippy="Quickview" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                            <a  class="btn btn-dark"> Buyurtma berish </a>
                                        </a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Umumiy savatlar</h2>
                                <ul>
                                    <li>Oraliq jami <span>{{cart.price}}</span></li>
                                    <li>Umumiy <span>{{cart.total_price}}</span></li>
                                </ul>
                                <a href="#">Ro'yxatdan o'chirilishda davom etish</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    